<header class="header">
    <nav class="nav-container">
        <button class="menu-button">☰</button>
        <div class="logo">AppleSpot</div>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="חיפוש מוצר...">
        </div>
        <ul class="nav-links">
            <li><a href="/group14/pages/products.html?category=mac">Mac</a></li>
            <li><a href="/group14/pages/products.html?category=ipad">iPad</a></li>
            <li><a href="/group14/pages/products.html?category=iphone">iPhone</a></li>
            <li><a href="/group14/pages/products.html?category=watch">Watch</a></li>
            <li><a href="/group14/pages/products.html?category=accessories">אביזרים</a></li>
            <li><a href="/group14/pages/contact.html">צור קשר</a></li>
            <li><a href="/group14/pages/login.html">Login</a></li>
            <li>
                <a href="/group14/pages/cart.html" class="cart-indicator">
                    🛒
                </a>
            </li>

        </ul>
        <div class="auth-reseller">
            <img src="/group14/img/logo.jpg" alt="Apple Authorized Reseller">
        </div>
    </nav>
</header>
